# Ignore everything
*

# But keep gitignore itself
!.gitignore

# Keep README if needed
!README.md



# Keep configs folder and everything inside it
!configs/
!configs/**

!spikformer/
!spikformer/**


!spikformer_plif/
!spikformer_plif/**


!vit/
!vit/**


!yolox/
!yolox/**
# Ignore Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

!evcivil_dataset_loader.py


!val_det.py

!utils.py

!evcivil_dataset.py

# Ignore datasets
datasets/
data/
UA_DETRAC/
imagenet/